*{
                margin: 0 auto;
                padding: 0;
                box-sizing: border-box;
            }
            .clear{clear: both;}
            .container{
                width: 1000px;
                background-color: beige;
            }
            .topo{padding: 2px;}
            .topo h1{text-align: center;margin-top: 10px;}
            .topo h3{
                float: right;
                background-color: darkgray; 
                padding: 5px 10px; 
            }
            .topo a{color: white; text-decoration: none;}
            
            .menu{background-color: black; height: 40px; padding: 0 10px; font-weight: bold;}
            .menu li{
                display: inline-block;
                padding: 9px;
                margin-top: 2px;
            }
            .menu a{
                text-decoration: none; 
                color: aliceblue;
                padding: 9px;
                margin-top: 1px;
            }
						
						.menu a:hover{
							color: #000000;
							background-color: #FFFFFF
						}
            
            .corpo{
                float: left;
                width: 720px;
                padding: 5px;
            }
            .artigo h3{text-align: center;}
            .artigo{margin: 10px;}
            
            .lateral{
                float: right; 
                width: 280px;
                background-color: darkgray;
                padding: 5px;
                border: 1px solid black;
                height: auto;
            }
            .lateral h3{color: white; text-align: center;background: black; padding: 5px; font-size: 24px }
						.lateral p{color: white; text-align: justify; background: black; padding: 5px; font-size: 14px }
						
						
						
						footer {
							background-color: #000000;
							color: #FFFFFF;
							font-family: Verdana;
							font-size: 14px;
							text-align: center;
							padding: 4px;
						}
						


